<form>
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="form-group">
        <label>Items</label>
        <ng-multiselect-dropdown
          [placeholder]="'Custom placeholder'"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
</form>

<hr/>

<p>Selected Items: {{selectedItems | json}}</p>

